{% extends "base.html" %}
{% block content %}

<h3>This is Trivia Smack</h3>
<a href="/wait_page" class="button start">Play!</a>
<br><br>
{% if score or score == 0 %}
    <p>Your score: {{score}}</p>
    <span>Their score: </span>
    <span id="score">Waiting for other player to finish</span><br>
{% endif %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
function process_socket() {

    var socket = io.connect(location.protocol + "//" + document.domain + ":" + location.port + "/game_over");
    var score = {{score|safe}};

    socket.on("connect", function() {
        if (score || score == 0){
            socket.emit("join_game_over", {"score":score});
        }
    });

    socket.on("show_score", function(data) {
        var element = document.getElementById("score");
        if (data.msg == null){
            socket.emit("get_other_score")
        }
        else{
            element.innerHTML = data.msg;
            socket.emit("disconnect_game_over")
        }
    });
}
process_socket()
</script>
{% endblock %}
