{% extends "base.html" %}
{% block content %}

{% if question %}
    <p>{{ question }}</p>
{% endif %}
{% if options %}
    {% for o in options %}
        {% set id=loop.index-1 %}

        <a class="button option" id="{{id}}"
           href="{{ url_for('main.question_page', result=id) }}"
           onClick=process_result({{id}})>
        • {{o}}
        </a>

        <br><br>
    {% endfor %}
{% endif %}
{%if question %}
    <p id="timer"></p>
{% endif %}

<script>
function process_result(id) {
    var result = "Wrong";
    var color = "#c13636";
    var answer = '{{answer|safe}}';
    var element = null;

    if (id >= 0){
        element = document.getElementById(id);
    }

    if (id == answer){
        result = "Right";
        color = "#4dc136";
    }

    if (element){
        element.style.color = "white";
        element.style.fontWeight = "bold";
        element.style.background = color;
        element.innerHTML = "• "+result+"!";
    }
}
// 30 second timer
var end = new Date().getTime() + 11000; 
var countdown = setInterval(function(){
    var now = new Date().getTime();
    var remaining = end - now;
    var seconds = Math.floor((remaining % (1000 * 60)) / 1000);
    var timer = document.getElementById("timer")
    timer.innerHTML = "Time remaining: " + seconds + " seconds";

    if (remaining <= 5000){
        timer.style.color = "red";
        timer.style.fontWeight = "bold";
    }

    if (remaining < 0){
        timer.innerHTML = "TIME'S UP!";
        //process_result(-1);   // does not advance to next question.
        clearInterval(countdown);
        setTimeout(location.reload(false), 10000);  // refreshes page after slight delay, fetching the next question
    }
}, 1000);
</script>
{% endblock %}