* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; 
}

img.relImage {
    width: 35%;
    height: auto;
}

body {
  margin-top: 2cm;
  text-align: center;
  line-height: 1;
  background-color: #eee;
  color: #343434;
}

html {
  font-family: 'Abel', sans-serif; 
}

h3 { font-size: 35px; }

.button {
  width: 13%;
  color: white;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;

  padding: 8px;
  font-family: "Nunito", sans-serif;

  margin: 0em auto;

  top:0; right:0; bottom:0; left:0;

  position: relative;
  height: auto;

  background: #FF4081;
  overflow: hidden;

  transition: all 0.4s;

  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2), 0 0 5px 0 rgba(0,0,0,0.19);
}

.option {
  width: 30%;
  background: #747474;
  padding: 8px;
  height: auto;
  transition: all 0.1s;
}


/* Laptop - full screen */
@media screen 
  and (min-width: 700px) 
  and (max-width: 2000px) 
  and (device-height: 768px){

    h3 { font-size: 20px; }

    img.relImage {
      width: 50%;
      height: auto;
    }

    body { font-size: 17px; }

    .button { width: 13%; }

    .option { width: 30%; }

    .long {width: 20%; }

    .textbox { width: 25%; }
}

/* Laptop - half screen */
@media screen
  and (min-width: 100px)
  and (max-width: 700px)
  and (device-height: 768px){

    h3 { font-size: 20px; }

    img.relImage {
      width: 70%;
      height: auto;
    }

    body { font-size: 12px; }

    .button { width: 30%; }

    .option { width: 50%; }

    .long {width: 45%; }

    .textbox { width: 40%; }
}

/* Mobile - Galaxy */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

  img.relImage {
    width: 80%;
    height: auto;
  }

  h3 { font-size: 25px; }

  .button { width: 50%; }

  .option { width: 80%; }

  .long {width: 75%; }

  .textbox { width: 60%; }
}

/* iPad */
@media only screen 
and (device-width : 768px) 
and (device-height : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {

  img.relImage {
    width: 75%;
    height: auto;
  }

  h3 { font-size: 35px; }

  body {font-size: 22px;}
  
  .button { width: 40%; }

  .option { width: 50%; }

  .long {width: 65%; }

  .textbox { width: 50%; }
}

.topRightCorner {
   position: fixed;
   top: 0px;
   right: 20px;
}

.topLeftCorner {
   position: fixed;
   top: 0px;
   margin: 10px;
}

.button:active {
  background: #FF4081;
}

.long {}

.pinkHover:not(.nohover):hover { background: #d71154; }

.redHover:hover { background: #961A1A; }

.greyHover:hover { background: #444444; }

.blueHover:hover { background: #377ba8; }

.textbox {
  border-radius: 5px;
  height: 30px;
  font-size: 10pt;
  text-align: center;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.2), 0 0 6px 0 rgba(0,0,0,0.10);
}

.upperCase { text-transform: uppercase; }

.lightGrey { color: #b3b3b3; }

.green { background: #4dc136; }

.red { background: #c13636; }

.pinkish { background: #ff444f; }

.blue { background: #3199dd; }

br.small { line-height: 5px; }

a { text-decoration: none; }