* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; 
}

img.relImage {
    width: 35%;
    height: auto;
}

body {
  font-size: 18px;
  margin-top: 2cm;
  text-align: center;
  line-height: 1;
  background-color: #eee;
  color: #343434;
}

html {
  font-family: 'Abel', sans-serif; 
}

h3 { font-size: 35px; }

/* ipad mini */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
  img.relImage {
    width: 75%;
    height: auto;
  }

  body { font-size: 15px; }
  h3 { font-size: 25px; }
  .button { width: 30%; }
}

@media screen and (max-width: 800px) {
    #container, #header, #content, #footer {
      float: none;
      width: auto;
    }

    #subtitle, #share, #slider, #sidebar {
      display:none;
    }

    body { font-size: 12px; }
    h3 { font-size: 20px; }
    img.relImage {
      width: 70%;
      height: auto;
    }
    .button { width: 30%; }
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

  img.relImage {
    width: 60%;
    height: auto;
  }

  body { font-size: 15px; }
  h3 { font-size: 25px; }
}

@media screen
  and (device-width: 375px)
  and (device-height: 559px)
  and (-webkit-device-pixel-ratio: 3) {

  img.relImage {
    width: 90%;
    height: auto;
  }
  body { font-size: 15px; }
  h3 { font-size: 25px; }
  .button{
    width: 40%;
  }
}

.topcorner{
   position: fixed;
   top: 0px;
   right: 20px;
}

.button {
  color: white;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;

  padding: 8px;
  font-family: "Nunito", sans-serif;

  margin: 0em auto;

  top:0; right:0; bottom:0; left:0;

  position: relative;
  width: 10%;
  height: auto;

  background: #FF4081;
  overflow: hidden;

  transition: all 0.4s;
}

.button:hover {
  background: #4dc136;
}

.button:active {
  background: #FF4081;
}

.option {
  padding: 8px;
  width: 30%;
  height: auto;
  transition: all 0.1s;
}