* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

img.relImage {
    width: 50%;
    height: auto;
}

body {
  font-size: 18px;
  margin-top: 2cm;
  text-align: center;
  line-height: 1;
  background-color: #eee;
  color: #343434;
}

.main {
  padding-left: 1%; 
  padding-right: 1%; 
  
}

html {
  font-family: 'Abel', sans-serif;
}

h3 { font-size: 45px; }

@media screen
  and (device-width: 768px)
  and (device-height: 1024px)
  and (-webkit-device-pixel-ratio: 3) {

}

@media screen and (max-width: 1020px) {
    #container, #header, #content, #footer {
      float: none;
      width: auto;
    }

    #subtitle, #share, #slider, #sidebar {
      display:none;
    }
    body { font-size: 15px; }
    h3 { font-size: 37.5px; }
}

@media screen and (max-width: 500px) {
    #container, #header, #content, #footer {
      float: none;
      width: auto;
    }

    #subtitle, #share, #slider, #sidebar {
      display:none;
    }
    body { font-size: 12px; }
    h3 { font-size: 30px; }
}

@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

  img.relImage {
    width: 75%;
    height: auto;
  }
    body { font-size: 15px; }
    h3 { font-size: 25px; }
}

@media screen
  and (device-width: 375px)
  and (device-height: 559px)
  and (-webkit-device-pixel-ratio: 3) {

  img.relImage {
    width: 100%;
    height: auto;
  }
    body { font-size: 15px; }
    h3 { font-size: 25px; }
    .button{
      width: 40%;
    }
}


.topcorner{
   position: fixed;
   top: 0px;
   right: 20px;
}

.button {
  color: white;
  border-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;

  padding: 8px;
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  width: 35%;

  margin: 0em auto;

  top:0; right:0; bottom:0; left:0;

  position: relative;
  height: auto;

  background: #FF4081;
  overflow: hidden;

  transition: all 0.4s;
}

.button:hover {
  background: #4dc136;
}

.button:active {
  background: #FF4081;
}

.option {
  padding: 8px;
  width: 50%;
  height: auto;
  transition: all 0.1s;
  font-size: 30px;
}
