.wrapper{
		padding: 100px 200px ;
		text-align: center;
		font-size: 25px;

		.page{
			// height: 95vh;
		}
		#about img{
			margin-bottom: 40px;
		}
		#about p{
			width: 700px;
			margin: auto; 
			text-align: left;
		}

}

.githubimg{
	background-color: red;
	background-image: url("../svg/github.svg"); 
	width: 20px;
	height: 20px;
}
