nav{
	z-index: 200;
	transition: 0.2s height;
	background-color: $primary; 
	height: 75px; 
	position: fixed; 
	width: 100%; 
	.logo{
		transition: 0.2s padding-top;
		color: $primary; 
		float: left; 
		margin-left: 40px;
		text-transform: uppercase;
		font-size: 24px;
		padding-top: 27px; 
		transition: 0.7s color; 
		&:hover {
			color: $hover;
			transition: 0.25s color; 
		}
		
	}
	ul{
		float:right; 
		margin-right: 30px;
		a{
				text-transform: uppercase;
				color: white; 
				text-decoration: none; 
				padding-top:30px;
				padding-bottom:12px;

				&:hover{
					color: $hover; 
					transition: 0.7s color; 
				}
			}
		li{
			transition: 0.2s padding-top;
			display: inline-block; 
			padding: 30px 22px 29px;
		}
	}
}
#secret{
	color: $primary !important;
}

.short-nav{
	transition: 0.2s height;
	height: 45px; 
	.logo{
		color: white;
		transition: 0.2s padding-top;
		padding-top: 10px; 
	}
	ul{
		li{
			transition: 0.2s padding-top;
			padding: 15px; 
		}
	}
}

.current-nav{
	background-color: darken($primary, 20);
}

.name-fade{
	color: $primary; 
}